.cuadro {
	background: black;
	border : 2px solid black;
	height: 500px;
	width:  300px;
}

.rojo {
	background: red;
	border-radius: 100%;
	height: 165px;
	position: relative;
	width: 165px;
	left: 23%;

}
.amarillo {
	background: yellow;
	border-radius: 100%;
	height: 165px;
	position: relative;
	width: 165px;
	left: 23%;
}
.verde {
	background: green;
	border-radius: 100%;
	height: 165px;
	position: relative;
	width: 165px;
	left: 23%;
}